* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.game-info {
    display:flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}

.card-blank {
    background-color: silver;
}



#grid {
  display: grid;
  gap:10px;
  width: 90vmin;
  max-width: 400px;
 

 
  
     
}
#grid img {
    width: 100%;
    aspect-ratio: 1/1;

   
    
}



